### Importación de la librería Pandas.

In [2]:
import pandas as pd

### Importación de Datasets

##### Dataset - CalidadVino.csv

    Este Dataset detalla la calidad de la variante roja del vino "Vinho Verde" de Portugal.

In [3]:
Vino = pd.read_csv('./Datasets/CalidadVino.csv')

In [4]:
print("El dataset contiene {} filas y {} columnas".format(*Vino.shape))

print("La cantidad de valores faltantes por columna es:\n{}".format(Vino.isna().sum()))

El dataset contiene 1599 filas y 12 columnas
La cantidad de valores faltantes por columna es:
fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

#### Dataset - EquipoAmbientalBarcelona.csv

    Este Dataset muestra información relacionada al equipamiento para mediciones ambientales en la ciudad de Barcelona.

In [5]:
Barcelona = pd.read_csv('./Datasets/EquipoAmbBna.csv', encoding="utf-16")

In [6]:
print("El dataset contiene {} filas y {} columnas".format(*Barcelona.shape))

print("La cantidad de valores faltantes por columna es:\n{}".format(Barcelona.isna().sum()))

El dataset contiene 611 filas y 36 columnas
La cantidad de valores faltantes por columna es:
register_id                        0
name                               0
institution_id                   609
institution_name                 609
created                            0
modified                           0
addresses_roadtype_id            611
addresses_roadtype_name          611
addresses_road_id                  0
addresses_road_name                0
addresses_start_street_number      2
addresses_end_street_number      485
addresses_neighborhood_id          0
addresses_neighborhood_name        0
addresses_district_id              0
addresses_district_name            0
addresses_zip_code                 0
addresses_town                     0
addresses_main_address             0
addresses_type                   611
values_id                        566
values_attribute_id              566
values_category                  566
values_attribute_name            566
values_value                     566
values_outstanding               566
values_description               609
secondary_filters_id               0
secondary_filters_name             0
secondary_filters_fullpath         0
secondary_filters_tree             0
secondary_filters_asia_id          0
geo_epgs_25831_x                   0
geo_epgs_25831_y                   0
geo_epgs_4326_x                    0
geo_epgs_4326_y                    0
dtype: int64

#### Dataset - Tenis2022.xlsx

    El dataset presentado muestra la información obtenida del circuito anual de Tenis en el año 2022.

In [7]:
Tenis = pd.read_excel('./Datasets/Tenis2022.xlsx')

In [10]:
print("El dataset contiene {} filas y {} columnas".format(*Tenis.shape))

print("La cantidad de valores faltantes por columna es:\n{}".format(Tenis.isna().sum()))

El dataset contiene 2632 filas y 36 columnas
La cantidad de valores faltantes por columna es:
ATP              0
Location         0
Tournament       0
Date             0
Series           0
Court            0
Surface          0
Round            0
Best of         15
Winner           0
Loser            0
WRank            0
LRank            2
WPts             0
LPts             2
W1              17
L1              17
W2              32
L2              32
W3            1368
L3            1368
W4            2364
L4            2364
W5            2533
L5            2533
Wsets           17
Lsets           17
Comment          0
B365W           10
B365L           10
PSW             15
PSL             15
MaxW             4
MaxL             4
AvgW             4
AvgL             4
dtype: int64

#### Dataset - TraficoAereoPasajeros.csv

    El set de datos contiene información sobre el tráfico aéreo de pasajeros por aerolinea, incluyendo los aeropuertos y regiones.

In [8]:
Trafico = pd.read_csv('./Datasets/TraficoAereoPasajeros.csv')

In [11]:
print("El dataset contiene {} filas y {} columnas".format(*Trafico.shape))

print("La cantidad de valores faltantes por columna es:\n{}".format(Trafico.isna().sum()))

El dataset contiene 15007 filas y 17 columnas
La cantidad de valores faltantes por columna es:
index                           0
Activity Period                 0
Operating Airline               0
Operating Airline IATA Code    54
Published Airline               0
Published Airline IATA Code    54
GEO Summary                     0
GEO Region                      0
Activity Type Code              0
Price Category Code             0
Terminal                        0
Boarding Area                   0
Passenger Count                 0
Adjusted Activity Type Code     0
Adjusted Passenger Count        0
Year                            0
Month                           0
dtype: int64

#### Dataset - VinoEspañol.csv

    Los datos mostrados en el dataset refieren a vinos españoles. Se describe popularidad y metricas sobre la calidad del mismo.

In [9]:
España = pd.read_csv('./Datasets/VinoEspañol.csv')

In [12]:
print("El dataset contiene {} filas y {} columnas".format(*España.shape))

print("La cantidad de valores faltantes por columna es:\n{}".format(España.isna().sum()))

El dataset contiene 7500 filas y 11 columnas
La cantidad de valores faltantes por columna es:
winery            0
wine              0
year              2
rating            0
num_reviews       0
country           0
region            0
price             0
type            545
body           1169
acidity        1169
dtype: int64